if: branch = develop OR type = pull_request
language: node_js
node_js:
  - '8.3.0'
cache: npm
env:
  global:
    - API_URL=https://sign-up-factory.herokuapp.com
before_install:
  - nvm install 8.3.0
  - nvm alias default 8.3.0
  - npm install
jobs:
  include:
    - stage: Android
      dist: trusty
      language: android
      jdk: oraclejdk8
      env:
        - SKIP_BUNDLING=1
      android:
        components:
          - tools
          - android-23
          - android-28
          - build-tools-28.0.3
      cache:
        directories:
          - $HOME/.gradle/caches/
          - $HOME/.gradle/wrapper/
          - $HOME/.android/build-cache
      install:
        - npm install -g @react-native-community/cli
      before_script:
        - echo fs.inotify.max_user_watches=582222 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p
        - npm run bundle-android || travis_terminate 1
      script:
        - cd android
        - bash ../.travis/build-android.sh || travis_terminate 1
        - bash zip -q -r app-symbols.zip app/build/intermediates/symbols/release/R.txt
      deploy:
        provider: testfairy
        api-key: 10b9285086851e5d64d98c27b229e5f13f56460b
        app-file: app/build/outputs/apk/release/app-release.apk
        symbols-file: app/app-symbols.zip
    - stage: iOS
      os: osx
      osx_image: xcode11
      language: objective-c
      env:
        - SKIP_BUNDLING=1
      install:
        - npm install -g @react-native-community/cli
      before_script:
        - npm run bundle-ios || travis_terminate 1
      script:
        - cd ios
        - bash ../.travis/build-ios.sh || travis_terminate 1
        - bash ../.travis/deploy-ios.sh || travis_terminate 1
        - cd ..
